body{
  font-family: sans-serif;
  border-spacing: inherit;
  background-color: grey;
}
img{
  height: 200px;
  width: 200px;
float: right;
}
.selector{
  font-style: italic;
}
.target{
  font-style: normal;
}
.double{
  font-weight: bold;
}
