body{
  font-family: sans-serif;
  border-spacing: inherit;
  margin-top: 80px;
}
img{
  height: 150px;
  width: 140px;
position: absolute;
  top: 8px;
  right: 16px;
}
.selector{
  font-style: italic;
}
.target{
  font-style: normal;
  font-weight: bold;
}
.double{
  font-weight: bold;
}

#contact {
  color: whitesmoke;
}