body{
  font-family: sans-serif;
  border-spacing: inherit;
  background-color: green;
}
img{
  height: 150px;
  width: 140px;
position: absolute;
  top: 8px;
  right: 16px;
}
.selector{
  font-style: italic;
}
.target{
  font-style: normal;
  font-weight: bold;
}
.double{
  font-weight: bold;
}
.test-box{
  border: none;
  padding: 3px;
  margin: 10px;
  background-color: red;
}
